<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.RegisterMapper">	
	<!-- 添加年级 -->
    <select id="addRegister"  parameterType="com.pojo.Register">
    	 insert into register (stuCourseId,studentId,courseId,theTimes) values (#{stuCourseId},#{studentId},#{courseId},#{theTimes})
    </select>
    
    <select id="selectRegisterByStuCourseId"  resultType="com.pojo.Register" parameterType="String">
    	 select top 1 * from Register where stuCourseId=#{stuCourseId} order by theTimes desc
    </select>
    <select id="countByStuCourseId" resultType="Integer" parameterType="String">
    	select count(id) from Register where stuCourseId=#{stuCourseId}
    </select> 
    <select id="selectTheTimes" resultType="com.util.TheTimes" parameterType="String">
    	select theTimes as times, count(*) as students  from register where courseId=#{courseId} group by  theTimes
    </select> 
</mapper>  

